#webRTCVideo {
  overflow-y: auto;
}
#webRTCVideo video {
  width: 100%;
  height: auto;
}
#webRTCVideo .selected {
  box-shadow: 0px 0px 2pt 2pt red;
}
#mainVideo{
  margin-right: auto;
  margin-left: auto;
  text-align: center;  
}
#mainVideo video {
  max-width: 100%;
  min-width: 75%;
  height: auto;
}
.previewContainer{
  margin-top: 5px;
  margin-bottom: 5px;
}
.previewContainer:nth-child(2n+1){
  clear: left;
}
.volumeBar {
  position: absolute;
  width: 5px;
  height: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #12acef;
}
.muted {
  position: absolute;
  right: 20px;
  top: 0px;
}
.muted:before{
  font-family: 'Glyphicons Halflings';
  font-size: 2em;
  color: red;
  content: "\e036";
}
.paused{
  position: absolute;
  right: 56px;
  top: 0px;
}
.paused:before{
  font-family: 'Glyphicons Halflings';
  color: red;
  font-size: 2em;
  content: "\e106";;
}
.displayName {
  text-align: center;
  font-weight: bold;
  border-radius: 8px;
  word-wrap: break-word;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}
#createRoomContainer {
  max-width: 700px;
  margin: auto;
}
#feedbackFormContainer {
  max-width: 700px;
  margin: auto;
}
#inviteMenu {
  min-width: 400px;
}
#confMenu {
  min-width: 400px;
}
#authMenu {
  min-width: 400px;
}
.ownerEl {
  display: none;
}
.unauthEl{
  display: none;
}
#chatBox {
  max-height:300px;
  resize:none;
}
#chatContainer {
  width: 600px;
}
#chatHistory{
  width: 100%;
  height: 200px;
  overflow: auto;
}
.chatMsgContainer {
  margin-right: 3px;
  margin-left: 3px;
}
.chatMsg {
  max-width: 75%;
  border-radius: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  word-wrap: break-word;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  white-space: pre;
}
.chatMsg a {
  color: black;
}
.chatMsgSelf {
  float: right;
}
.chatMsgOthers {
  float: left;
}
#chatMenu {
  margin-bottom: 15px;
}
#chromeExtMessage {
  text-align: center;
}
#navBarLogo {
  padding-top: 2px;
  float: left;
  position: absolute;
}
#toolBar {
  padding-top: 15px;
  margin-right: 100px;
  min-height: 60px;
}
#forkMeRibbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  width: 149px;
  height: 149px;
}
.panelIndex {
  text-align: justify;
  text-justify:inter-word;
}
.modal-body {
  text-align: justify;
  text-justify:inter-word;
}
@media screen and (max-width: 480px) {
  body {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 0.9em;
  }
}
