{

# Database
dbi => 'DBI:mysql:database=vroom;host=localhost',
dbUser => 'vroom',
dbPassword => 'vroom',

# Media & signaling
signalingServer => 'https://signal.example.com',
stunServer => 'stun.example.com:3478',
turnServer => 'turn.example.com',
realm => 'example.com',

# Web & contact
emailFrom => 'vroom@example.com',
feedbackRecipient => 'admin@example.com',
poweredBy => '<a href="http://www.firewall-services.com" target="_blank">Firewall Services</a>',
# Templates to use for web pages
template => 'default',
# Used to sign cookies
secret => 'ChangeMe!',

# App
# Rooms without any activity for that long (in seconds) will be destroyed
inactivityTimeout => 3600,
# Inactivity timeout (in seconds) for persistent rooms
# 0 means they are not deleted. You can use a high number
# so that persistent rooms are kept long enough, but deleted when not used
persistentInactivityTimeout => 0,
logLevel => 'info',

# ID of the Chrome extension for screen sharing
chromeExtensionId => 'ecicdpoejfllflombfanbhfpgcimjddn',

# Various
sendmail => '/sbin/sendmail'
};
